credit card project

Importing the Dependencies

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
# loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/credit card.csv')

In [9]:
# first 5 rows of the data set
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,150.00,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [10]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
11678,19921,1.208802,-0.401943,0.901086,-0.697416,-1.014073,-0.281932,-0.828187,0.108108,3.018142,...,-0.137886,-0.007707,-0.075264,-0.065906,0.454008,-0.719787,0.054139,0.015084,11.85,0.0
11679,19924,-1.723814,1.389327,1.411353,-0.716019,-1.561864,1.505156,-2.024937,-5.393713,2.156363,...,5.161661,-1.997550,-0.202928,-0.040939,1.221328,1.155446,0.334758,0.104672,155.38,0.0
11680,19926,1.192037,-0.357840,1.002156,-0.558666,-1.017703,-0.321732,-0.780201,0.062111,3.206257,...,-0.138692,0.082080,0.007441,0.018529,0.378177,-0.693956,0.077499,0.025269,8.35,0.0
11681,19927,-7.773912,4.249596,-5.985636,1.450199,-4.709726,-1.302327,-2.807678,4.890516,0.807323,...,0.104104,-0.188352,-0.302390,0.299249,-0.185131,-0.445921,0.143783,-0.061396,89.99,0.0
11682,19929,1.024814,-1.179948,1.702954,-0.833752,-1.598620,1.270610,-1.786586,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#dataset information given by info() function
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11683 entries, 0 to 11682
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    11683 non-null  int64
 1   V1      11683 non-null  float64
 2   V2      11683 non-null  float64
 3   V3      11683 non-null  float64
 4   V4      11683 non-null  float64
 5   V5      11683 non-null  float64
 6   V6      11683 non-null  float64
 7   V7      11683 non-null  float64
 8   V8      11682 non-null  float64
 9   V9      11682 non-null  float64
 10  V10     11682 non-null  float64
 11  V11     11682 non-null  float64
 12  V12     11682 non-null  float64
 13  V13     11682 non-null  float64
 14  V14     11682 non-null  float64
 15  V15     11682 non-null  float64
 16  V16     11682 non-null  float64
 17  V17     11682 non-null  float64
 18  V18     11682 non-null  float64
 19  V19     11682 non-null  float64
 20  V20     11682 non-null  float64
 21  V21     11682 non-null  float64
 22  V22     11682 non-null  float64
 23  V23     11682 non-null  float64
 24  V24     11682 non-null  float64
 25  V25     11682 non-null  float64
 26  V26     11682 non-null  float64
 27  V27     11682 non-null  float64
 28  V28     11682 non-null  float64
 29  Amount  11682 non-null  float64
 30  Class   11682 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 2.8 MB

In [12]:
# another method for checking missing values in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [13]:
# distribution of ligit transection & fradulent transection
credit_card_data['Class'].value_counts()

0.0    11633
1.0       49
Name: Class, dtype: int64

this dataset is highly unbalanced as seen only 49 fraudlent transections as comapare to ligit transections

0 -->normal tran
1 --> fraud

In [16]:
# seperating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [17]:
print(legit.shape)
print(fraud.shape)

(11633, 31)
(49, 31)

In [18]:
#statistical measures of the data
legit.Amount.describe()

count    11633.000000
mean        62.572370
std        178.797894
min          0.000000
25%          5.180000
50%         15.950000
75%         50.000000
max       7712.430000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count      49.000000
mean      103.646735
std       330.135333
min         0.000000
25%         1.000000
50%         1.000000
75%         3.790000
max      1809.680000
Name: Amount, dtype: float64

In [20]:
# compare the values for both transections
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,7704.887045,-0.207050,0.258760,0.932029,0.255271,-0.072059,0.149001,-0.091701,-0.056148,0.908510,...,0.022749,-0.063091,-0.155601,-0.032732,0.019105,0.102891,0.069101,0.004954,0.000138,62.572370
1.0,11037.265306,-3.064862,4.008973,-7.336847,6.060331,-1.951918,-1.970106,-5.100011,0.977442,-2.509118,...,0.375559,0.468232,-0.088481,-0.427921,-0.367523,-0.136910,0.285971,0.603784,0.149533,103.646735

Under-Sampling

Build a sample dataset containing similar distribution of normal transections and fraudlent transections

number of fraud transections = 49

In [21]:
legit_sample=legit.sample(n=49)

concatenating two dataframes

In [22]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [25]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9460,14003,1.012595,0.185411,1.857002,2.625675,-0.813686,0.741198,-1.050510,0.411449,1.078229,...,0.167722,0.665253,0.034227,0.149377,0.061452,0.073725,0.024623,0.023365,12.16,0.0
11089,19165,-0.715028,0.355256,2.660031,-1.744397,-0.228632,-0.213149,0.312153,-0.083878,2.615766,...,-0.132668,0.177766,-0.331727,0.016747,0.380161,-0.811404,-0.070184,-0.155858,11.85,0.0
5666,5924,-0.608570,0.825989,0.643067,0.072965,-0.720448,0.194874,1.419189,-0.114971,0.858169,...,-0.027805,0.425963,0.197526,0.214121,-0.528259,0.341667,0.488519,0.134495,236.31,0.0
8847,12101,1.214134,-0.126762,0.685152,0.285627,-0.665364,-0.397531,-0.400028,-0.057880,1.832680,...,-0.213877,-0.173225,-0.061312,0.364836,0.382859,1.056226,-0.099258,-0.016464,9.80,0.0
9115,12856,-1.166352,0.606921,1.874791,0.600488,1.580855,-0.558089,0.702418,-0.911101,1.267124,...,-0.661425,-0.924212,-0.538240,-0.509336,0.042847,0.188672,-0.545836,-0.449834,4.56,0.0

In [26]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10690,18088,-12.224021,3.854150,-12.466766,9.648311,-2.726961,-4.445610,-21.922811,0.320792,-4.433162,...,-1.159830,-1.504119,-19.254328,0.544867,-4.781606,-0.007772,3.052358,-0.775036,1218.89,1.0
10801,18399,-14.474437,6.503185,-17.712632,11.270352,-4.150142,-3.372098,-16.535807,-1.443947,-6.815273,...,-2.475962,0.342391,-3.564508,-0.818140,0.153408,0.755079,2.706566,-0.992916,1.00,1.0
10891,18675,-12.339603,4.488267,-16.587073,10.107274,-10.420199,0.130670,-15.600323,-1.157696,-5.304631,...,-2.089610,1.745315,1.376816,-0.554271,-1.610741,0.153725,1.212477,-1.869290,188.78,1.0
10897,18690,-15.398845,7.472324,-19.026912,11.165526,-6.893856,-2.120937,-14.913330,-0.721214,-7.175097,...,-2.444884,0.727495,-0.345078,-0.981749,0.995271,0.816762,2.262942,-1.178063,1.00,1.0
11343,19762,-14.179165,7.421370,-21.405836,11.927512,-7.974281,-2.202710,-15.471612,-0.356595,-6.380125,...,-2.366836,1.130955,0.991153,-1.033132,-0.327179,0.634693,2.171905,-1.395288,1.00,1.0

In [27]:
new_dataset['Class'].value_counts()

0.0    49
1.0    49
Name: Class, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,8011.816327,0.024105,0.378525,1.003462,0.526380,-0.039931,-0.071338,-0.177482,-0.065890,0.542742,...,-0.037933,0.031395,-0.279075,-0.199170,-0.015043,0.060296,0.028051,0.037476,0.009795,47.986531
1.0,11037.265306,-3.064862,4.008973,-7.336847,6.060331,-1.951918,-1.970106,-5.100011,0.977442,-2.509118,...,0.375559,0.468232,-0.088481,-0.427921,-0.367523,-0.136910,0.285971,0.603784,0.149533,103.646735

splitting the data into features and targets

In [29]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [30]:
print(X)

        Time         V1        V2         V3         V4         V5        V6  \
9460   14003   1.012595  0.185411   1.857002   2.625675  -0.813686  0.741198
11089  19165  -0.715028  0.355256   2.660031  -1.744397  -0.228632 -0.213149
5666    5924  -0.608570  0.825989   0.643067   0.072965  -0.720448  0.194874
8847   12101   1.214134 -0.126762   0.685152   0.285627  -0.665364 -0.397531
9115   12856  -1.166352  0.606921   1.874791   0.600488   1.580855 -0.558089
...      ...        ...       ...        ...        ...        ...       ...
10690  18088 -12.224021  3.854150 -12.466766   9.648311  -2.726961 -4.445610
10801  18399 -14.474437  6.503185 -17.712632  11.270352  -4.150142 -3.372098
10891  18675 -12.339603  4.488267 -16.587073  10.107274 -10.420199  0.130670
10897  18690 -15.398845  7.472324 -19.026912  11.165526  -6.893856 -2.120937
11343  19762 -14.179165  7.421370 -21.405836  11.927512  -7.974281 -2.202710

              V7        V8        V9  ...       V20       V21       V22  \
9460   -1.050510  0.411449  1.078229  ... -0.240469  0.167722  0.665253
11089   0.312153 -0.083878  2.615766  ... -0.115038 -0.132668  0.177766
5666    1.419189 -0.114971  0.858169  ...  0.158017 -0.027805  0.425963
8847   -0.400028 -0.057880  1.832680  ... -0.124589 -0.213877 -0.173225
9115    0.702418 -0.911101  1.267124  ...  0.242981 -0.661425 -0.924212
...          ...       ...       ...  ...       ...       ...       ...
10690 -21.922811  0.320792 -4.433162  ... -2.147181 -1.159830 -1.504119
10801 -16.535807 -1.443947 -6.815273  ...  1.101250 -2.475962  0.342391
10891 -15.600323 -1.157696 -5.304631  ... -0.085501 -2.089610  1.745315
10897 -14.913330 -0.721214 -7.175097  ...  1.111502 -2.444884  0.727495
11343 -15.471612 -0.356595 -6.380125  ...  1.002764 -2.366836  1.130955

             V23       V24       V25       V26       V27       V28   Amount
9460    0.034227  0.149377  0.061452  0.073725  0.024623  0.023365    12.16
11089  -0.331727  0.016747  0.380161 -0.811404 -0.070184 -0.155858    11.85
5666    0.197526  0.214121 -0.528259  0.341667  0.488519  0.134495   236.31
8847   -0.061312  0.364836  0.382859  1.056226 -0.099258 -0.016464     9.80
9115   -0.538240 -0.509336  0.042847  0.188672 -0.545836 -0.449834     4.56
...          ...       ...       ...       ...       ...       ...      ...
10690 -19.254328  0.544867 -4.781606 -0.007772  3.052358 -0.775036  1218.89
10801  -3.564508 -0.818140  0.153408  0.755079  2.706566 -0.992916     1.00
10891   1.376816 -0.554271 -1.610741  0.153725  1.212477 -1.869290   188.78
10897  -0.345078 -0.981749  0.995271  0.816762  2.262942 -1.178063     1.00
11343   0.991153 -1.033132 -0.327179  0.634693  2.171905 -1.395288     1.00

[98 rows x 30 columns]

In [31]:
print(Y)

9460     0.0
11089    0.0
5666     0.0
8847     0.0
9115     0.0
        ...
10690    1.0
10801    1.0
10891    1.0
10897    1.0
11343    1.0
Name: Class, Length: 98, dtype: float64

split the data into training data and teesting data

In [32]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=2)

In [33]:
print(X.shape,X_train.shape,X_test.shape)

(98, 30) (78, 30) (20, 30)

model training
Logistic Regression

In [36]:
model = LogisticRegression()

In [37]:
#training the LogisticRegression model with Training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

model evaluation

accuracy score

In [40]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [39]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  1.0

In [41]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [42]:
print('Accuracy on testing data : ',test_data_accuracy)

Accuracy on testing data :  0.95